.team-content {
  font-size: 14px;

  line-height: 26px;

  text-align: left;
}

.team-card {
  align-items: center;
  justify-content: start;
  padding: 12px;
  /* margin: 10px; */
  background: #e8f4fd;
  border-radius: 8px;
}

.card-image img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.card-text {
  flex: 1;
}

.left-side{
  text-align: center;
  line-height: 26px;
}
/* Responsive layout for smaller screens */
@media (max-width: 600px) {
  .card {
    flex-direction: column;
    text-align: center;
  }

  .card-image img {
    margin-right: 0;
    margin-bottom: 20px; /* Space between the image and the text on small screens */
  }
}
