/* .navbar {
  background-color: var(--white-color);
  padding: 1.5rem 2rem;
  align-items: stretch;
  border-bottom: 1px solid #DEDFE2
} */

.navbar {
  background-color: var(--white-color);
  padding: 1.5rem 2rem;
  align-items: stretch;
  border-bottom: 1px solid #DEDFE2;
  position: fixed; /* Make the navbar fixed at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it's above other content */
  display: flex; /* Ensure this is explicitly stated for clarity */
  justify-content: space-between; /* This should already work based on your class */
}

.navbar-links {
  gap: 2rem;
  color: #0f1629;
  font-weight: 600;
}

.navbar-links-left {
  gap: 2rem;
  justify-content: center;
    align-items: center;
}
