:root {
  --background-color: #eff3f4;
  --background-color2: #6A7686;
  --white-color: #ffffff;
  --border-color: #dedfe2;
  --border-color2:#808A9D;
  --text-color:#5D667B;
  --text-color2:#768396
 
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}
.flex-space-between {
  justify-content: space-between;
}
.cursor {
  cursor: pointer;
}

.flex-column {
  flex-direction: column;
}
.gap1 {
  gap: 9px;
}

.gap2 {
  gap: 2rem;
}
.font-weight600{
  font-weight: 600;
}
.font-size1{
  font-size: 16px;
}
.font-size2{
  font-size: 28px;
}
.margin0{
  margin: 0;
}
.perfomance{
  border-bottom: 1px solid #D3E0E6;
    line-height: 45px;
}